.container :is(.atmosphere1, .atmosphere2) {
  border-radius: 50%;
  filter: blur(40px);
  position: relative;
  mix-blend-mode: darken;
}

.atmosphere1 {
  width: 723px;
  height: 623px;
  background: linear-gradient(#970efb, #d980dc);
  left: 30%;
  bottom: 55rem;
  transform: rotate(225deg);
}

.atmosphere2 {
  width: 1126.8px;
  height: 1185.3px;
  background: linear-gradient(#970efbcc, #d980dc);
  left: 50%;
  bottom: 35rem;
  transform: rotate(90deg);
}
